<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_21110849_DangPhuQuy_QLSV.Properties.Settings.viduDBConnectionString"
            connectionString="Data Source=DESKTOP-2CMFK1I\SQLEXPRESS;Initial Catalog=viduDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>